/* Template file for SCSS output file for Web Icons */
@font-face {
	font-family: "<%= fontName %>s";
	src: url('<%= fontPath %><%= fontName %>s.eot');
	src: url('<%= fontPath %><%= fontName %>s.eot?#iefix') format('eot'),
		url('<%= fontPath %><%= fontName %>s.woff') format('woff'),
		url('<%= fontPath %><%= fontName %>s.ttf') format('truetype'),
		url('<%= fontPath %><%= fontName %>s.svg#<%= fontName %>s') format('svg');
}
/* Base icon style */
@mixin <%= fontName %>() {
	display: inline-block;
	vertical-align: middle;
	font: normal normal normal 14px/1 "<%= fontName %>s";
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.<%= fontName %> {
	@include <%= fontName %>();
}
/* Icons */
<% _.each(glyphs, function(glyph) { %>
$<%= fontName %>-<%= glyph.name %>: "\<%= glyph.codepoint.toString(16).toLowerCase() %>";
@mixin <%= fontName %>-<%= glyph.name %>() {
	content: $<%= fontName %>-<%= glyph.name %>;
}
.<%= fontName %>-<%= glyph.name %>:before {
	@include <%= fontName %>-<%= glyph.name %>();
}
<% }); %>
/* CSS Output */