*:hover,
*:focus,
*:active {
  outline: none !important;
}

* {
  word-wrap: break-word;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1;
  overflow-x: hidden;
  color: $bodyTextColor;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 0 0 10px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 10px;
  font-size: 1.1em;
  line-height: 1.6;
}

a {
  color: $mainLinkColor;

  &:hover,
  &:focus {
    color: $mainLinkColorHover;
  }
}

.ie8 {
  .img-responsive {
    width: 100%;
  }
}

@include media-breakpoint-down(xs) {
  .row {
    > .col-xs-12 + .col-xs-12 {
      margin-top: 15px;
    }
  }
}
@include media-breakpoint-only(sm) {
  .row {
    > .col-sm-12 + .col-sm-12 {
      margin-top: 15px;
    }
  }
}